.custom-height {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

/* Style fixes for project slider and gallery */
.flickity-viewport, .carousel {
  outline: none;
}

/* Bullet styling */
.carousel .flickity-page-dots {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.carousel .dot {
  width: .5rem;
  height: .5rem;
  border-radius: 100%;
  border: 1px solid rgba(17, 24, 39, .2);
  margin: 0 .125rem;
}

.carousel .dot:hover {
  cursor: pointer;
}

.carousel .dot.is-selected, .carousel .dot:hover {
  background-color: rgba(17, 24, 39, .2);
  border: none;
}

.lg-icon {
  background-color: transparent;
}

.lg-toolbar .lg-icon, .lg-show-in .lg-prev, .lg-show-in .lg-next {
  color: #fff;
  transition: all ease-in-out .3s;
}

.lg-toolbar .lg-icon:hover, .lg-show-in .lg-prev:hover, .lg-show-in .lg-next:hover {
  opacity: .8;
}

/* Hide scrollbar in horizontal gallery */
.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
