@font-face {
  font-family: 'Neue Montreal';
  src: url('../public/fonts/neuemontreal-regular-webfont.woff2') format('woff2'),
    url('../public/fonts/neuemontreal-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}